*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/signing.properties
/.idea/jarRepositories.xml
/.idea/migrations.xml
/.idea/codeStyles/

# Ignored untracked files
**/bin/
.kotlin/
*.keystore
hs_err_pid*.log
project_analysis.md
